// background colors
$bg-color-light: #fff;
$bg-color-dark: #F5F5F5;

// logo colors
$logo-color-light: #414141;
$logo-color-dark: #000000;

//kolory czcionek
$font-color-light: #fff;
$font-color-medium: #868686;
$font-color-dark: #000;

//kolory dla akcentów
$accent-color-main: #2ADE72;
$accent-color-second: #000;
