//-------------------------------------
//   IMPORTING EXTERNAL *.SCSS FILES
//-------------------------------------
@use '_colors' as *;
@use '_reset' as *;
@use '_key-frames' as *;

// a special class added to containers whose width is to be limited to 1400px
.wrapper {
	min-width: 300px;
	max-width: 1400px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
}

//-------------------------------------
//   NAVIGATION
//-------------------------------------

.nav {
	// position:fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $bg-color-light;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 100%;

	.menu {
		display: flex;
		align-content: center;
		&_item {
			padding: clamp(1em, 3.5vw, 2em) clamp(1em, 3.5vw, 3em);
			text-decoration: none;
			font-size: clamp(1rem, 2vw, 1.8rem);
			&:visited,
			&:link {
				color: $font-color-dark;
			}
			&:hover {
				background-color: $accent-color-second;
				color: $font-color-light;
			}
		}
	}
}

.logo {
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 0 2em;
	cursor: pointer;
	&_icon {
		margin-right: 0.4em;
		height: clamp(1.6rem, 4vw, 3rem);
	}
	&_text {
		font-weight: 300;
		font-size: clamp(1.4rem, 5vw, 4em);
	}
}

//-------------------------------------
//   HEADER
//-------------------------------------

.header {
	height: clamp(300px, 50vw, 600px);
	background-image: url('../img/jungle-1920.jpg');
	background-size: cover;
	background-position: center;
	.hero-shadow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.63);
	}
	.hero-text {
		padding: 0 2em;
		width: 100%;
		color: $font-color-light;
		font-size: clamp(1rem, 2vw, 2rem);
	}
}

//-------------------------------------
//  SECTIONS
//-------------------------------------

.section-heading {
	margin-top: 1.8em;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: 100;
	font-size: clamp(2rem, 4vw, 4rem);
}

//-------------------------------------
//   ABOUT US - SECTION
//-------------------------------------

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	&_box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: clamp(1em, 4vw, 4em);
		margin-bottom: 5em;
		padding: 0 2em;
		&_img {
			width: 100%;
		}
		&_text {
			font-size: clamp(1rem, 2vw, 2rem);
		}
	}
}

//-------------------------------------
//   ADVENTURE - SECTION
//-------------------------------------

.adventure {
	height: clamp(150px, 30vw, 300px);
	background-image: url('../img/girl-1920.jpg');
	background-size: cover;
	background-position: center;
	&_box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.63);
		&_text {
			padding: 1em clamp(2em, 10vw, 4em);
			font-size: clamp(1rem, 4vw, 3rem);
			color: $font-color-light;
			border: 1px solid white;
		}
	}
}

.text {
	color: purple;
}

//-------------------------------------
//   OFFER - SECTION
//-------------------------------------

.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	&_description {
		margin-bottom: 2em;
	}
}

.offers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5em;

	&_item {
		min-width: 300px;
		min-height: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2em 0;
		margin: 1em;
		font-size: 1.4rem;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.322);
		border-radius: 15px;

		&--title {
			font-size: 2.2rem;
		}
		&--price {
			font-size: 3rem;
			margin: 0.4em;
			span {
				font-size: 3.5rem;
			}
		}
		&--option-box {
			.option {
				margin-bottom: 0.6em;
				i {
					margin-right: 1em;
					color: $accent-color-main;
				}
			}

			.unavailable {
				color: #888;
				i {
					color: #888;
				}
			}
		}
		&--btn {
			margin-top: 1.4em;
			padding: 0.6em 3em;
			font-size: 1.3rem;
			background: none;
			border: none;
			border-radius: 5px;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.295);
			cursor: pointer;
			&:hover {
				background-color: $accent-color-main;
				box-shadow: 0 4px 10px $accent-color-main;
			}
		}
	}
	.more-box {
		background-color: $accent-color-main;
		box-shadow: none;
		.more-title {
			color: #fff;
			width: min-content;
			text-align: center;
		}
		.more-btn {
			background-color: #fff;
		}
	}
}

//-------------------------------------
//   OTHER - SECTION
//-------------------------------------

.other {
	display: flex;
  
  justify-content: center;
	background-color: $bg-color-dark;
  .wrapper {
    width: 100%;
    display: flex;
    padding: 4em 2em;
    justify-content: space-between;
    align-items: start;
  }
	.info {
		display: flex;
		&_block {
			display: flex;
			flex-direction: column;
			margin-left: 4em;
			p,
			a {
				text-decoration: none;
				margin-bottom: 1em;
			}
			&--title {
				font-size: 1.6rem;
				font-weight: 600;
			}

			&--link {
				color: $font-color-medium;
				font-size: 1.2rem;
			}
		}
	}
}

//-------------------------------------
//   FOOTER
//-------------------------------------

footer {
	text-align: center;
	padding: 2.2em;
	font-size: 1.4rem;
	color: $font-color-medium;
	background-color: $bg-color-dark;
	border-top: 1px solid $font-color-medium;
}

//-------------------------------------
//   MEDIA - BREAK POINTS
//-------------------------------------

@media (min-width: 1400px) {
	.offers {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 768px) and (max-width: 1400px) {
	.offers {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.about_box {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	.header {
		background-image: url('../img/jungle-640.jpg');
	}
	.offers {
		grid-template-columns: repeat(1, 1fr);
	}

	.adventure {
		background-image: url('../img/girl-640.jpg');
	}

  .other {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      &_icon {
        margin-right: 1em;
        height: 3rem;
      }
      &_text {
        font-size: 4rem;
      }
    }
    .info {
      margin-top: 3em;
      flex-direction: column;
      text-align: center;
      &_block {
        margin-left: 0;
        margin-top: 1em;
        &--title {
          font-size: 1.8rem;
        }
  
        &--link {
          font-size: 1.4rem;
        }
      }
    }
  }
}
